.carousel {
  display: flex;
  justify-content: center;
  align-items: center;

  .audio {
    width: 100%
  }

  .slice {
    background: transparent;
  }
}

.carousel .slide {
  background: transparent;
}